$navbar-color: #2b3c4e;
$navbar-text-color: #fff;

.navbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.navbar-color {
    background: $navbar-color !important;
    color: $navbar-text-color !important;

    .btn {
        background-color: transparent !important;
        border: none;
    }

    .nav-link {
        color: $navbar-text-color !important;
    }
}