.topnav {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start;

    li>a {
        color: #685757;
        font-size: 14px !important;
        font-weight: 500;
        line-height: 30px;
    }
}

li>a:hover {
    color: #000 !important;
}

.active {
    border-right: solid 5px #007bff;
    background-color: rgba(0, 0, 0, 0.05);
}