html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

.invalid-msg {
  padding: 10px;
  color: red !important;
  font-size: 13px !important;
  text-align: left;
}

.table {
  margin-bottom: 0 !important;
}

.btn {
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}
